body {
  font-family: Verdana, Tahoma, sans-serif;
  min-height: 100vh;
  color: #5e7985;
  margin: 50px;
  padding: 0;
}

.loader {
  width: 120px;
  height: 120px;
  border: 10px dotted #247496;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  padding: 6px;
  margin: 56px 150px;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.is-hidden-compeletely {
  display: none !important;
}

.is-invisible {
  opacity: 0;
}

/* all reset */
h1,
h2,
h3,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.breed-select {
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cat-description {
  display: flex;
  align-items: center;
}

img {
  flex-shrink: 0;
  min-width: 500px;
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.panel {
  display: flex;
  align-items: flex-end;
  margin-bottom: 16px;
}

.text-box {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  max-width: 600px;
  gap: 20px;
  padding: 0 15px;
}

.text-box h2 {
  font-size: 1.8em;
}

.text-box p {
  font-size: 1.2em;
}
